* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  margin: 20px 0;
}

#form {
  text-align: center;
}

.gif-container {
 width: 100%;
  margin: 0 auto ; 
}

h1 {
  color: white;
  margin-top: 5vh;
}

body {
  background-color: black;
}

#search_button {
 background-color: black;
} 




